{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pneumonia Detector</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="{% url 'index' %}" style="text-decoration: none">
        <h1 class="title">Pneumonia Detector Web App</h1>
    </a>
    <a href="{% url 'analyze' %}" class="get-started-btn">Get Started</a>
    {% comment %} <div>
        <img src="{% static "background.png" %}" alt="background">
    </div> {% endcomment %}
</body>
</html>

<!-- required CSS 
for displaying the image when uploaded before result
.img-preview {
    width: 300px;
    height: 300px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
    background-color: pale blue
}
card{
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
	margin-top: 16px;
	margin-bottom: 16px;
} -->